.panel {
  display: inline-block;
  vertical-align: top;
}
.panel_left {
  border-right: 3px solid #bbb;
  width: 40%;
  margin-right: 20px;
  padding-right: 20px;
}

.inline_parameter_value {
  margin-left: 2px;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

.bold {
  font-weight: bold;
}

.xlarge_text {
  font-size: x-large;
}

.large_text {
  font-size: larger;
}

.img_base {
  width: 36px;
}

.about_text {
  display: block;
  margin-top: 5px;
}

.item_list > button:not(:first-child) {
  margin-left: 5px;
}

#project {
  vertical-align: text-bottom;
}

#button_create_description {
  margin-top: 2px;
}

.button_selected {
  background: deepskyblue;
  border-radius: 3px;
  border-color: black;
}

#description_text {
  margin-top: 4px;
}

#button_delete_description {
  margin-left: 5px;
}